#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-main {
  display: flex;
  flex-direction: column;
  gap: 24px
}

.app-main header {
  font-size: large;
  font-weight: bold;
}